@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
    background-color: #4a4a4a;
    font-family: 'Open Sans Condensed', sans-serif;
}

.row {
    margin: 0px;
}

#selectedContent {
    width: 400px;
}

/*----------------Preload content----------------*/
.preload {
    background-color: #648381;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 400px;
    height: 360px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.signUp {
    display: none;
    width: 400px;
    height: 360px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.btn {
    background-color: #577590;
    color: #fff;
}

/*----------------Main content----------------*/
.title {
    font-family: 'Dosis', sans-serif;
    color: #fff;
}

.container {
    padding: 0px;
    position: relative;
    left: 30px;
}

.program {
    margin-top: 30px;
}

.mainWindow {
    height: 550px;
}

.box {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(235, 235, 235, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(235, 235, 235, 1);
    box-shadow: 0px 0px 5px 2px rgba(235, 235, 235, 1);
}

.mainNav {
    padding: 0px;
    max-width: 100%;
    background-color: #f5f9fc;
}

.iconNav {
    width: 100%;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #4dbac0;
    border-color: transparent;
    border-radius: 0px;
}

.nav-tabs .nav-link {
    color: #fff;
    border: 0px;
    padding: 6px 13px 6px 13px;
}

.nav-tabs .nav-link:hover {
    color: #fff;
    background-color: #4dbac0;
    border-radius: 0px;
    border-color: transparent;
}

/*----------------Sidebar slideIn content----------------*/
.sideSection {
    padding: 0px;
    height: 100%;
}

.sidenav {
    height: 100%;
    display: flex;
    background-color: #354051;
    margin: 0px;
}

.sidenav a {
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    cursor: pointer;
}

.sidenav ul {
    padding: 10px;
}

.sidenav a:hover {
    color: #f8961e;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 15px;
}

.sidenav img {
    width: 70%;
    align-self: center;
    margin-left: 35px;
}

/*----------------Top navbar----------------*/

.navtop {
    padding: 0px;
    background-color: #fff;
}

.navtop a {
    color: #020402;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.navtop a:hover {
    background-color: #577590;
    color: #fff;
}

.navtop a:active {
    background-color: #43aa8b;
    color: #fff;
}

.navtop .nav-link {
    display: block;
    padding: 10px;
}

/*---------------- My Smart home Tab----------------*/
#mySmartHome h3 {
    font-size: 15px;
}

.mainSection {
    padding: 0px;
}

#mySmartHome {
    padding: 10px;
}

#onlineCount {
    font-size: 50px;
    color: #648381;
}

.devon {
    margin: 0px 10px 10px 10px;
    min-height: 150px;
    text-align: center;
    padding-bottom: 10px;
}

.devon h3 {
    background-color: #4dbac0;
    padding: 10px;
    color: #fff;
}
.devon img{
    width: 100px;
}
.trafSum {
    min-height: 430px;
    margin: 0px 10px 10px 5px;
}

.trafSum h3 {
    background-color: #4dbac0;
    padding: 10px;
    color: #fff;
}

/*---------------- My devices Tab----------------*/
#myDevices {
    padding: 10px;
}
#deviceTab h2{
    font-size: 15px;
    background-color: #4dbac0;
    padding: 10px;
    color: #fff;
    margin-top: 5px;
}
.navright {
    position: relative;
    min-height: 290px;
    height: 100%;
}

.Dcontent .tab-content {
    overflow-y: scroll;
    padding-right: 10px;
}

.addTitle {
    padding: 0px;
}

.sidebar {
    padding: 0px;
}

.sidebar h3 {
    padding-top: 10px;
    font-size: 15px;
    color: #fff;
    background-color: #4dbac0;
    padding: 10px;
}

.sidebar a {
    color: #4a4a4a;
    border-top: 1px solid #eaeaea;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.sidebar a:first-child {
    border-top: 0px;
}

.sidebar a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eaeaea;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active {
    color: #4a4a4a;
}

.sidebar a:hover:before,
.sidebar a:focus:before,
.sidebar a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.fa-times-circle {
    color: #f94144;
}

.fa-exclamation-triangle {
    color: #f9c74f;
}

.add {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #4a4a4a;
}

#addDevice h3 {
    padding-top: 10px;
    font-size: 15px;
    color: #fff;
    background-color: #4dbac0;
    padding: 10px;
}

#addDevice p {
    font-size: 13px;
    padding: 0px 10px 0px 10px;
}

.card {
    background-color: transparent;
    border: none;
    border-radius: 0px;

}

.card-header {
    padding: 5px 0px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid #eaeaea;
}

.card-header .btn {
    background-color: transparent;
    color: #000;
    position: relative;
    margin-left: 40px;
    padding: 10px 0px;
}

.optionBtn i {
    position: absolute;
    font-size: 20px;
    top: 13px;
    left: -30px;
}

.fa-lightbulb {
    color: #f9c74f;
}

.fa-volume-up {
    color: #90be6d;
}

.fa-video {
    color: #f94144;
}

.fa-wind {
    color: #577590;
}

.fa-key {
    color: #f8961e;
}

.tab-pane {
    padding: 0px;
}

.tab-content {
    padding: 0px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.tab-content::-webkit-scrollbar {
    display: none;
}

/*---------------- Profile Tab----------------*/
.profileSection {
    height: 594px;
    padding: 10px;
    font-size: 15px;
}
.profileSection img{
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 0px 10px 10px 10px;
}
.profileSection h3{
    padding-top: 10px;
    font-size: 15px;
    color: #fff;
    background-color: #4dbac0;
    padding: 10px; 
}
.profileSection p{
    padding-left: 10px;
}
.userInfo b{
    color: #90be6d;
    font-size: 15px;
}
/*---------------- Footer ----------------*/

.bottom {
    background-color: #fff;
    text-align: center;
    padding: 0px;
    width: 1095px;
}

.bottom h3 {
    font-size: 15px;
}